apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp-dep
  labels:
    app: nginx
    tier: front-end
spec:
  selector:
    matchLabels:
      app: nginx
      tier: front-end
  replicas: 4
  template:
    metadata:
      name: myapp-pod
      labels:
        app: nginx
        tier: front-end
    spec:
      containers:
      - name: nginx
        image: nginx

# kkubectl create -f deployment-defn.yml
# kubectl get deployment
# kubectl get replicaset
# kubectl get all